body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
	color: black;
	background-color: white;
	width: 80%;
	max-width:1200px;
	margin: 0;
	padding: 0;
}
pre, .decl, .argname, .argtype, .return {
	font-family: Courier, monospace;
}
ul {
	list-style: none;
}

#header, #index, #title {
	position: fixed;
	margin: 0; border: none;
	z-index: 999;
	font-weight: bold;
}
#header {
	top: 0; left: 25px;
	width: 100%; height: 25px;
	padding: 12px 0 12px 0;
	border-bottom: 1px solid #99B;
	background: white;
	background: rgba(255, 255, 255, 1.0);
	font-size: 25px;
}
#index, #title {
	top: 50px;
	height: 20px;
	padding: 1px 0 3px 2px;
	background: #EEF;
	background: rgba(238, 238, 255, 1.0);
	font-size: 20px;
	font-weight: bold;
}
#index {
	left: 25px;
	width: 173px;
}
#title {
	left: 200px;
	width: 100%;
	border-left: 1px solid #99B;
}

#nav {
	position: fixed;
	top: 74px; left: 25px;
	width: 175px;
	border-right: 1px solid #99B;
}
#nav h2 {
	background: #EEF;
	border-top: 1px solid #99B;
	margin: 0 0 1em 0;
	padding: 0.1em;
}
#nav h3 {
	margin: 0.5em 0;
}
#nav h4 {
	margin: 0 0 0 2em;
	padding: 0;
	font-size: small;
	font-weight: bold;
}
#nav ul {
	margin: 0.25em 0 1em 2em;
	padding: 0;
	list-style: none;
}
#nav > ul {
	margin: 2em 0 0 2px;
}
#nav a {
	color: blue;
	text-decoration: none;
}
#nav a:hover {
	background: #EEF;
}
#nav a.active {
	color: purple;
	text-decoration: underline;
}

#content {
	margin: 74px 0 0 200px; padding: 0;
	border: none;
	border-left: 1px solid #99B;
}

.section {
	display: none;
}
.section h2 {
	background: #EEF;
	border-top: 1px solid #99B;
	margin: 0 0 1em 0;
	padding: 0.1em 0.1em 0.1em 0.5em;
}
.section-docs {
	margin-left: 2em;
}

.internal {
	background: #F9F9F9;
	color: #555;
}

.proc, .udf {
	margin-left: 50px;
	margin-bottom: 4em;
}
.proc h3, .udf h3 {
	background: #EEF;
	border-top: 1px solid #99B;
	margin-left: -50px;
	padding: 0.25em 0.25em 0.25em 1.5em;
}
.proc ul, .udf ul {
	list-style: disc;
}

table.signature {
	border-collapse: collapse;
	margin: 0.5em 0 1em 0;
	white-space: nowrap;
}
table.signature tr:hover {
	background-color: #FFE4E1;
}

table.signature td {
	padding: 0.25em;
	text-align: left;
}
table.signature td.decl {
	text-align: right;
}
table.signature td.argname {
	font-weight: bold;
}
table.signature td.argunits {
	color: #999;
	padding-left: 4em;
	padding-right: 1em;
}
table.signature td.argdesc {
	color: #505090;
}
